@model IEnumerable<Pharmacy.Models.ApplicationUser>
@{
    ViewBag.Title = "Contact";
}
<h2>CONTACTOS</h2>
<div id="disqus_thread"></div>
@*<a href="http://foo.com/bar.html#disqus_thread">Link</a>*@

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7590.295829487931!2d-67.11571772589267!3d-17.971854031670606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e2b0a1fdff86f5%3A0xfe586e79566dead5!2sOruro!5e0!3m2!1ses!2sbo!4v1597507087312!5m2!1ses!2sbo" width="800" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<address>
    <strong>Support:</strong>   <a href="mailto:oruropharmacy@gmail.com">oruropharmacy@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<script src="../../js/Style.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>